mwparserfromhell == 0.6.6
pymysql == 1.1.1
python-dateutil == 2.9.0.post0
pywikibot [mysql,mwoauth] == 9.6.3

requests~=2.32.3
SQLAlchemy == 2.0.38
typing-extensions == 4.12.2
waybackpy~=3.0.6
wikitextparser~=0.56.3
