mwparserfromhell == 0.7.2
pymysql == 1.1.2
python-dateutil == 2.9.0.post0
pywikibot [mysql,mwoauth] == 11.0.0

requests~=2.32.5
SQLAlchemy == 2.0.46
typing-extensions == 4.15.0
waybackpy~=3.0.6
wikitextparser~=0.56.4
litellm~=1.40.0
