mwparserfromhell == 0.6.4
pymysql == 1.1.0
python-dateutil == 2.8.2
pywikibot [mysql,mwoauth] == 8.3.1

requests~=2.31.0
SQLAlchemy == 2.0.19
typing-extensions == 4.7.1
waybackpy~=3.0.6
wikitextparser~=0.54.0